@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
}

html, body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: #d4d4d4;
}

.conteiner-week #five-box .text-five, .conteiner-week #four-box .text-four, .conteiner-week #three-box .text-three, .conteiner-week #second-box .text, .conteiner-week #first-box .text-conteiner-week, .follow-request #today .text-today, .follow-request #line .new .text-follow {
  font-size: 13px;
  margin-right: 70px;
}

.conteiner-week #four-box #msg-input-two, .conteiner-week #three-box #msg-input {
  margin-right: 10px;
  width: 90px;
  height: 28px;
  background-color: #FFFFFF;
  border-radius: 4px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  cursor: pointer;
}

/*=========HEADER============*/
.header-conteiner {
  display: flex;
  flex-direction: column;
  width: 358px;
  height: 130px;
  background-color: #FAFAFA;
  margin: auto;
  gap: 15px;
  border: 1px solid rgba(128, 128, 128, 0.356);
}
.header-conteiner #icons-phone {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 350px;
  height: 35px;
}
.header-conteiner #icons-phone #time {
  font-family: sans-serif;
  font-weight: 450;
  text-align: left;
  color: #171717;
  margin-right: auto;
  padding: 5px;
}
.header-conteiner #icons-phone #phone-sinal {
  width: 5%;
  padding: 3px;
}
.header-conteiner #icons-phone #wifi-icon {
  width: 5%;
  padding: 3px;
}
.header-conteiner #icons-phone #battery {
  width: 5%;
  padding: 3px;
}
.header-conteiner .rectangle {
  width: 350px;
  height: 45px;
  margin-left: 3px;
  flex-direction: row;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}
.header-conteiner .rectangle #right-side {
  margin-left: -1px;
  width: 287px;
  height: 30px;
  text-align: center;
  margin-right: 3px;
  font-size: 16px;
  color: rgba(2, 0, 0, 0.897);
  cursor: pointer;
}
.header-conteiner .rectangle #right-side::after {
  display: block;
  content: "";
  width: 170px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.658);
  margin-top: 10px;
}
.header-conteiner .rectangle #left-side {
  margin-left: 3px;
  margin-top: 55px;
  width: 268px;
  height: 19px;
  padding: 0px 3px 11px 1px;
  text-align: center;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.header-conteiner .rectangle #left-side::after {
  display: block;
  content: "";
  width: 187px;
  height: 2.5px;
  background-color: rgba(128, 128, 128, 0.356);
  margin-top: 10px;
}

.rectangle-two {
  width: 336px;
  height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #FFFFFF;
  margin-top: -15px;
  align-items: baseline;
  margin-bottom: 26px;
  padding: 10px 10px;
}
.rectangle-two #follow-text {
  font-family: sans-serif;
  text-align: center;
  font-size: 15px;
  color: #262626;
  cursor: pointer;
  font-weight: 400px;
}

/*--------------HEAD---------------------*/
/*----------------------SECTION---------------------------*/
.follow-request {
  width: 358px;
  height: 244px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  margin: 1px 0px 1px;
  margin-left: auto;
  margin-right: auto;
}
.follow-request::after {
  display: block;
  content: "";
  width: 360px;
  height: 0.5px;
  background-color: rgba(128, 128, 128, 0.356);
  margin-top: 10px;
}
.follow-request #line {
  width: 358px;
  height: 115px;
  margin: 1px 0px 5px 0px;
}
.follow-request #line #text-new {
  flex-direction: row;
  display: flex;
  align-items: baseline;
  margin: 13px 0px 10px 12px;
  font-size: 13px;
  color: rgba(2, 0, 0, 0.897);
  font-family: sans-serif;
}
.follow-request #line .new {
  width: 358px;
  height: 50px;
  background-color: #FFFFFF;
  flex-direction: row;
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.follow-request #line .new .photo {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  margin: 5px 10px 0px 0px;
  object-fit: cover;
}
.follow-request #line .new .text-follow {
  margin: 7px 69px 0px 10px;
}
.follow-request #line .new .hour {
  color: rgba(128, 128, 128, 0.822);
  font-size: 13px;
  font-family: sans-serif;
}
.follow-request #line .new #my-photo {
  padding-left: 6px;
  cursor: pointer;
}
.follow-request #text-today-titlle {
  width: 339px;
  height: 54px;
  margin-top: 7px;
  padding: 10px;
  color: rgba(2, 0, 0, 0.897);
  font-family: sans-serif;
}
.follow-request #today {
  width: 358px;
  height: 98px;
  background-color: #FFFFFF;
  flex-direction: row;
  display: flex;
  align-items: center;
}
.follow-request #today #photo-profile {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
  margin-bottom: 13px;
}
.follow-request #today #photo-up {
  margin-right: 1px;
  margin-bottom: 76px;
  margin-top: 109px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-left: -32px;
  cursor: pointer;
}
.follow-request #today #hour {
  color: rgba(128, 128, 128, 0.822);
  font-size: 13px;
  font-family: sans-serif;
}
.follow-request #today .text-today {
  margin-right: 22px;
  margin-left: 14px;
}
.follow-request #today #logo {
  margin-right: 10px;
  cursor: pointer;
}

/*----------------------SECTION---------------------------*/
.conteiner-week {
  background-color: #FFFFFF;
  width: 358px;
  height: 360px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.conteiner-week #first-box {
  flex-direction: row;
  display: flex;
  width: 358px;
  height: 91px;
  align-items: center;
}
.conteiner-week #first-box .photo {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: 9px;
  cursor: pointer;
}
.conteiner-week #first-box #logo {
  margin-right: 10px;
  cursor: pointer;
}
.conteiner-week #first-box #perfil {
  text-decoration: none;
  color: #3797EF;
}
.conteiner-week #first-box .text-conteiner-week {
  margin-right: 22px;
  margin-left: 10px;
}
.conteiner-week #first-box .hour {
  color: rgba(128, 128, 128, 0.822);
  font-size: 13px;
  font-family: sans-serif;
}
.conteiner-week #second-box {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin-left: 77px;
}
.conteiner-week #second-box #icon-like {
  width: 12px;
  height: 10px;
  cursor: pointer;
}
.conteiner-week #second-box .text {
  margin-right: 22px;
  margin-left: 10px;
  cursor: pointer;
}
.conteiner-week #text-new {
  flex-direction: row;
  display: flex;
  align-items: baseline;
  margin: 13px 0px 13px 12px;
  font-size: 12px;
  color: rgba(2, 0, 0, 0.897);
  font-family: sans-serif;
}
.conteiner-week #three-box {
  width: 358px;
  height: 100px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}
.conteiner-week #three-box #img-three-box {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  object-fit: cover;
  margin: 9px;
  cursor: pointer;
}
.conteiner-week #three-box .text-three {
  margin-right: 22px;
  margin-left: 11px;
}
.conteiner-week #three-box .hour {
  color: rgba(128, 128, 128, 0.822);
  font-size: 13px;
  font-family: sans-serif;
}
.conteiner-week #four-box {
  background-color: #FFFFFF;
  width: 358px;
  height: 100px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}
.conteiner-week #four-box #img-four-box {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  object-fit: cover;
  margin: 9px;
  cursor: pointer;
}
.conteiner-week #four-box .text-four {
  margin-right: 22px;
  margin-left: 11px;
}
.conteiner-week #four-box .hour {
  color: rgba(128, 128, 128, 0.822);
  font-size: 13px;
  font-family: sans-serif;
}
.conteiner-week #five-box {
  background-color: #FFFFFF;
  width: 358px;
  height: 100px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}
.conteiner-week #five-box #img-five-box {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  object-fit: cover;
  margin: 9px;
  cursor: pointer;
}
.conteiner-week #five-box .text-five {
  margin-right: 22px;
  margin-left: 11px;
}
.conteiner-week #five-box #msg-input-three {
  margin-right: 10px;
  width: 90px;
  height: 28px;
  background-color: #3797EF;
  border-radius: 4px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  color: azure;
  cursor: pointer;
}
.conteiner-week #five-box .hour {
  color: rgba(128, 128, 128, 0.822);
  font-size: 13px;
  font-family: sans-serif;
}

/*----------------------SECTION---------------------------*/
/*----------------------FOOTER---------------------------*/
#conteiner-final {
  background-color: #FAFAFA;
  width: 358px;
  height: 79px;
  flex-direction: row;
  display: flex;
  margin: auto;
  position: sticky;
  border: 1px solid rgba(128, 128, 128, 0.356);
}
#conteiner-final .footer-icon {
  padding: 12px 22px 29px 23px;
  cursor: pointer;
}
#conteiner-final #profile {
  width: 23px;
  height: 23px;
  cursor: pointer;
}

/*# sourceMappingURL=like.css.map */
