* {
  padding: 0;
  margin: 0;
}

html, body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: #d4d4d4;
}

/*=========HEADER============*/
.header-conteiner {
  display: flex;
  flex-direction: column;
  width: 358px;
  height: 90px;
  background-color: #FAFAFA;
  margin: auto;
  gap: 15px;
}
.header-conteiner #icons-phone {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 350px;
  height: 35px;
}
.header-conteiner #icons-phone #time {
  font-family: sans-serif;
  font-weight: 450;
  text-align: left;
  color: #171717;
  margin-right: auto;
  padding: 5px;
}
.header-conteiner #icons-phone #phone-sinal {
  width: 5%;
  padding: 3px;
}
.header-conteiner #icons-phone #wifi-icon {
  width: 5%;
  padding: 3px;
}
.header-conteiner #icons-phone #battery {
  width: 5%;
  padding: 3px;
}
.header-conteiner #icons-title-profile {
  flex-direction: row;
  display: flex;
  align-items: center;
}
.header-conteiner #icons-title-profile :nth-child(4n) {
  margin-left: auto;
  padding: 0px 8px;
}
.header-conteiner #icons-title-profile #text-title {
  font-size: 15pt;
  color: #262626;
  padding: 0px 5px 0px 6px;
}
.header-conteiner #icons-title-profile #padlock {
  margin-left: auto;
  padding: 0px 0px 0px 70px;
}
.header-conteiner #icons-title-profile #seta {
  margin-right: auto;
}
.header-conteiner #icons-title-profile #trace {
  width: 20px;
  height: 15px;
}

#info-menu {
  display: flex;
  flex-direction: column;
  width: 358px;
  height: 261px;
  background-color: #FAFAFA;
  margin: auto;
}
#info-menu #icon-info {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #FAFAFA;
}
#info-menu #photo-profile {
  border-radius: 50%;
  width: 86px;
  height: 86px;
  padding: 10px 8px;
}
#info-menu .numbers {
  font-family: sans-serif;
  font-size: 16px;
  padding: 30px 14px;
  text-align: center;
  font-weight: 600;
  color: #262626;
}
#info-menu .numbers .text-bio {
  font-size: 15px;
  font-weight: 400;
  color: #262626;
  font-family: sans-serif;
}
#info-menu #info-bio {
  width: 100%;
  height: 100%;
  background-color: #FAFAFA;
  margin-bottom: 23px;
}
#info-menu #info-bio #name {
  font-size: 10pt;
  font-weight: 600;
  margin: 0px 0px 2px 11px;
  color: #262626;
  font-family: sans-serif;
}
#info-menu #info-bio #definition {
  font-weight: 400;
  font-size: 10pt;
  margin: 1px 0px 2px 11px;
  font-family: sans-serif;
  color: #262626;
}
#info-menu #info-bio #link-bio {
  text-decoration: none;
  color: #035097;
}
#info-menu #info-bio #button-bio {
  width: 337px;
  height: 29px;
  background-color: #FFFFFF;
  border-radius: 8px;
  margin: 10px 10px 10px 9px;
  font-family: sans-serif;
  font-weight: 600;
  color: #262626;
  border: 0.5px solid #3c3c4328;
}
#info-menu #spotlight-bio {
  width: 100%;
  height: 100%;
  flex-direction: row;
  display: flex;
  background-color: aqua;
  gap: 15px;
}
#info-menu #spotlight-bio #circle {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin: 9px;
  border: 0.5px solid #2626264b;
}
#info-menu #spotlight-bio #photo-one {
  padding: 21px 0px 0px 24px;
}
#info-menu #spotlight-bio #photo-two {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
#info-menu #spotlight-bio #photo-three {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
#info-menu #spotlight-bio #photo-four {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

/*# sourceMappingURL=profile-menu.css.map */
