* {
  padding: 0;
  margin: 0;
}

html, body {
  width: 100vw;
  height: 100vh;
}

/*###########---Header----##########*/
.header-conteiner {
  display: flex;
  flex-direction: column;
  width: 358px;
  height: 130px;
  background-color: #FAFAFA;
  margin: auto;
}
.header-conteiner #icons-phone {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 350px;
  height: 35px;
}
.header-conteiner #icons-phone #time {
  font-family: sans-serif;
  font-weight: 450;
  text-align: left;
  color: #171717;
  margin-right: auto;
  padding: 5px;
}
.header-conteiner #icons-phone #phone-sinal {
  width: 5%;
  padding: 3px;
}
.header-conteiner #icons-phone #wifi-icon {
  width: 5%;
  padding: 3px;
}
.header-conteiner #icons-phone #battery {
  width: 5%;
  padding: 3px;
}
.header-conteiner #input {
  flex-direction: row;
  display: flex;
  width: 300px;
  height: 28px;
  border-radius: 10px;
  background-color: rgba(118, 118, 128, 0.12);
  padding: 5px 3px 5px 3px;
  gap: 5px;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  margin: 5px;
}
.header-conteiner #input #box-input {
  width: 265px;
  height: 25px;
  cursor: pointer;
  border: none;
  background: transparent;
}
.header-conteiner #input #icon-search {
  width: 16px;
  height: 16px;
}
.header-conteiner #input #icon-shape {
  align-self: center;
  padding: 20px;
}
.header-conteiner .buttouns {
  flex-direction: row;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 400px;
  height: 50px;
  margin: 2px 2px;
}
.header-conteiner .buttouns #buttouns {
  width: 71px;
  height: 31px;
  background-color: #FFFFFF;
  border-radius: 7px;
  cursor: pointer;
}
.header-conteiner .buttouns #buttoun-last {
  width: 50px;
  height: 31px;
  background-color: #FFFFFF;
  border-radius: 7px;
  cursor: pointer;
}

/*###########---Header----##########*/
/*###########---SECTION----###########*/
.galery {
  width: 355px;
  height: auto;
  background-color: #FAFAFA;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.galery .photo-box {
  width: 355px;
  height: auto;
  background-color: #FAFAFA;
  flex-direction: row;
  display: flex;
  border: 1px solid white;
}
.galery .photo {
  width: 118px;
  height: 119px;
  object-fit: cover;
}
.galery .photo.photo:hover {
  width: 155px;
  height: 150px;
}

/*###########---SECTION----###########*/
/*###########-----FOOTER----##########*/
footer {
  width: 350px;
  height: 100px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  display: flex;
}
footer #conteiner-final {
  display: flex;
  flex-direction: column;
  width: 352px;
  height: 90px;
  background-color: #FAFAFA;
}
footer #conteiner-final #div-footer {
  width: 350px;
  height: 50px;
  background-color: #FAFAFA;
  flex-direction: row;
  display: flex;
  position: sticky;
  left: 0px;
  padding: 10px 3px 10px 0px;
  gap: 58px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
footer #conteiner-final #div-footer #profile {
  border-radius: 50%;
}
footer #conteiner-final #div-footer .footer-icon {
  width: 19px;
  height: 21px;
}

/*# sourceMappingURL=search.css.map */
