%text-details{
    font-size: 13px;
    margin-right: 70px;
}

%input-details {
    margin-right: 10px;
    @include conteiner(90px, 28px);
    background-color: #FFFFFF;
    border-radius: 4px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    cursor: pointer;
}