@import "./variables.scss";
@import "./mixing.scss";
@import "./style.scss";


/*=========HEADER============*/

.header-conteiner {

    display: flex;
    flex-direction: column;
    @include conteiner(358px, 130px);
    background-color: $color-primary;
    margin: auto;
    gap: 15px;
    border: 1px solid rgba(128, 128, 128, 0.356);

    #icons-phone {
        @include conteiner-box(row, flex);
        align-items: center;
        justify-content: flex-end;
        @include conteiner(350px, 35px);



        #time {
            font-family: sans-serif;
            font-weight: 450;
            text-align: left;
            color: #171717;
            margin-right: auto;
            padding: 5px;
        }

        #phone-sinal {
            width: 5%;
            padding: 3px;
        }

        #wifi-icon {
            width: 5%;
            padding: 3px;

        }

        #battery {
            width: 5%;
            padding: 3px;

        }
    }

    .rectangle {
        width: 350px;
        height: 45px;
        margin-left: 3px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-evenly;
        

        #right-side {
            margin-left: -1px;
            width: 287px;
            height: 30px;
            text-align: center;
            margin-right: 3px;
            font-size: 16px;
            color: rgba(2, 0, 0, 0.897);
            cursor: pointer;

            &::after {
                display: block;
                content: '';
                width: 170px;
                height: 2px;
                background-color: rgba(0, 0, 0, 0.658);
                margin-top: 10px;
            }
        }

        #left-side {
            margin-left: 3px;
            margin-top: 55px;
            width: 268px;
            height: 19px;
            padding: 0px 3px 11px 1px;
            text-align: center;
            font-size: 16px;
            color: rgba(0, 0, 0, 0.4);
            cursor: pointer;

            &::after {
                display: block;
                content: '';
                width: 187px;
                height: 2.5px;
                background-color: rgba(128, 128, 128, 0.356);
                margin-top: 10px;
            }
        }

    }






}

.rectangle-two {
    width: 336px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: $color-primary;
    height: 85px;
    margin-top: -15px;
    align-items: baseline;
    margin-bottom: 26px;
    padding: 10px 10px;



    #follow-text {
        font-family: sans-serif;
        text-align: center;
        font-size: 15px;
        color: #262626;
        cursor: pointer;
        font-weight: 400px;
    }
}

/*--------------HEAD---------------------*/

/*----------------------SECTION---------------------------*/

.follow-request {
    width: 360px;
    height: 244px;
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    margin: auto;


    
    &::after {
        display: block;
        content: '';
        width: 360px;
        height: 0.5px;
        background-color: rgba(128, 128, 128, 0.356);
        margin-top: 10px;
    }
    
    
    #text-new {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        margin: 13px 0px -2px 12px;
        font-size: 13px;
        color: rgba(2, 0, 0, 0.897);
        font-family: sans-serif;

    }

    .new {
        width: 361px;
        height: 98px;
        background-color: $color-primary;
        display: flex;
        align-items: center;
        justify-content: space-around;
        

        
        .photo {
            width: 44px;
            height: 44px;
            border-radius: 50%;
        }

        .text {
            font-size: 13px;
            margin-right: 70px;

        }

        .hour {
            color: rgba(128, 128, 128, 0.822);
            font-size: 13px;
            font-family: sans-serif;
        }
        









    }

    #today {
        width: 360px;
        height: 98px;
        background-color: #FAFAFA;
        display: flex;
        align-items: center;
        flex-direction: row;


        #photo-profile {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-left: 13px;

        }

        #photo-up {
            margin-right: 1px;
            margin-bottom: 76px;
            margin-top: 109px;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-left: -20px;

        }

        #hour {
            color: rgba(128, 128, 128, 0.822);
            font-size: 13px;
            font-family: sans-serif;
        }

        .text {
            margin-right: 22px;
            margin-left: 14px;
            font-size: 13px;
            margin-right: 70px;
        }

        #logo {
            margin-right: 10px;
        }












    }
}

/*----------------------SECTION---------------------------*/

.conteiner-week {
    background-color: $color-primary;
    width: 360px;
    height: 317px;
    margin: auto;
    display: flex;
    flex-direction: column;

    #first-box {

        display: flex;
        flex-direction: row;
        width: 360px;
        height: 91px;
        align-items: center;

        .photo {
            width: 44px;
            height: 44px;
            border-radius: 50%;
            margin: 9px;
        }
    
        #logo {
            margin-right: 10px;
        }

        #perfil {
            text-decoration: none;
        }
    
        .text{
            margin-right: 22px;
            margin-left: 14px;
            font-size: 13px;
            margin-right: 70px;
        }
    }

    #second-box {
        display: flex;
        flex-direction: row;   
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
        margin-left:77px ;
        
        #icon-like {
            width: 12px;
            height: 10px;
        }

        .text{

            font-size: 13px;
            margin-right: 70px;
        }







    }

    #text-new{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        margin: 13px 0px 13px 12px;
        font-size: 12px;
        color: rgba(2, 0, 0, 0.897);
        font-family: sans-serif;
    }




































}