@import "./variables.scss";
@import "./mixing.scss";
@import "./style.scss";
@import "./extend.scss";

/*=========HEADER============*/

.header-conteiner {

    display: flex;
    flex-direction: column;
    @include conteiner(358px, 90px);
    background-color: $color-primary;
    margin: auto;
    gap: 15px;

    #icons-phone {
        @include conteiner-box(row, flex);
        align-items: center;
        justify-content: flex-end;
        @include conteiner(350px, 35px);



        #time {
            font-family: sans-serif;
            font-weight: 450;
            text-align: left;
            color: #171717;
            margin-right: auto;
            padding: 5px;
        }

        #phone-sinal {
            width: 5%;
            padding: 3px;
        }

        #wifi-icon {
            width: 5%;
            padding: 3px;

        }

        #battery {
            width: 5%;
            padding: 3px;

        }
    }

    #icons-title-profile {

        @include conteiner-box(row, flex);
        align-items: center;

        :nth-child(4n) {
            margin-left: auto;
            padding: 0px 12px;
        }


        #text-title {
            font-size: 15pt;
            color: #262626;
            padding: 0px 5px 0px 6px
        }

        #padlock {
            margin-left: auto;
            padding: 0px 0px 0px 70px;
        }

        #seta {
            margin-right: auto;

        }

        #trace {
            @include conteiner(20px, 15px);

        }
    }
}

//######################HEADER#########################//

//#########################SECTION#####################//


#info-menu {
    display: flex;
    flex-direction: column;
    @include conteiner(358px, 261px);
    background-color: $color-primary;
    margin: auto;

    #icon-info {
        @include conteiner-box(row, flex);
        @include conteiner(100%, 100%);
        background-color: $color-primary;

    }

    #photo-profile {
        border-radius: 50%;
        @include conteiner(86px, 86px);
        padding: 10px 8px;
    }

    .numbers {
        font-family: sans-serif;
        font-size: 16px;
        padding: 30px 14px;
        text-align: center;
        font-weight: 600;
        color: #262626;

        .text-bio {
            font-size: 15px;
            font-weight: 400;
            color: #262626;
            font-family: sans-serif;
        }
    }

    #info-bio {
        @include conteiner(100%, 100%);
        background-color: $color-primary;
        margin-bottom: 23px;

        #name {
            font-size: 10pt;
            font-weight: 600;
            margin: 0px 0px 2px 11px;
            color: #262626;
            font-family: sans-serif;
        }

        #definition {
            font-weight: 400;
            font-size: 10pt;
            margin: 1px 0px 2px 11px;
            font-family: sans-serif;
            color: #262626;
        }

        #link-bio {
            text-decoration: none;
            color: #035097;
        }

        #button-bio {
            @include conteiner(337px, 29px);
            background-color: $collor-buttoun;
            border-radius: 8px;
            margin: 10px 10px 10px 9px;
            font-family: sans-serif;
            font-weight: 600;
            color: #262626;
            border: 0.5px solid #3c3c4328;
        }
    }

    #spotlight-bio {
        @include conteiner(100%, 100%);
        @include conteiner-box(row, flex);
        background-color: $color-primary;
        gap: 15px;

        #circle {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            margin: 9px;
            border: 0.5px solid #2626264b;



        }

        #photo-one {
            padding: 21px 0px 0px 24px;

        }

        #photo-two {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            margin: 9px 0px;
        }

        #photo-three {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            margin: 9px 9px;
        }

        #photo-four {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            margin: 9px 6px;
        }


    }


}

//#########################SECTION###################################//

//###################SECTION-GALLERY########################//

#gallery {
    background-color: aqua;
    @include conteiner(100%, 100%);
    margin-top: 5px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;


    #icons-gallery {
        @include conteiner(100%, 100%);
        @include conteiner-box(row, flex);
        background-color: aquamarine;
        margin-inline: auto;

        
        #icon-gallery {
            @include conteiner(32px, 32px);

        }



    }
    #photos-gallery {
        @include conteiner(100%, 100%);
        @include conteiner-box(row, flex);


        #photo-book{
            @include conteiner(124px, 124px);

        }
    }





















}