@import "./variables.scss";
@import "./mixing.scss";
@import "./style.scss";

/*###########---Header----##########*/
.header-conteiner {

    display: flex;
    flex-direction: column;
    @include conteiner(358px, 130px);
    background-color: $color-primary;
    margin: auto;
    #icons-phone {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        @include conteiner(350px, 35px);

        
        #time {
            font-family: sans-serif;
            font-weight: 450;
            text-align:left;
            color: #171717;
            margin-right: auto;
        }
        #phone-sinal {
            width: 5%;
            padding: 3px;
        }
        #wifi-icon {
            width: 5%;
            padding: 3px;

        }
        #battery {
            width: 5%;
            padding: 3px;

        }
    

    }
        
    #input {
        @include conteiner-box(row, flex);
        @include conteiner(340px, 28px);
        border-radius: 10px;
        background-color: $color-input;
        padding: 5px 3px 5px 3px;
        gap: 5px;
        align-items: center;
        justify-content: start;
        cursor: pointer;
        margin: 5px;
       
        #icon-search {
            width: 16px;
            height: 16px;
        }

    }
    .buttouns{
        @include conteiner-box(row, flex);
        align-items: center;
        gap: 5px;
        width: 400px;
        height: 50px;
        margin: 2px 2px;

        #buttouns {
        @include conteiner(71px, 31px);
        background-color: $collor-buttoun;
        border-radius: 7px;
        }

        #buttoun-last {
            @include conteiner(50px, 31px);
            background-color: $collor-buttoun;
            border-radius: 7px;
        }
      
  
    }




}
/*###########---Header----##########*/

/*###########---SECTION----###########*/

.galery{
    width: 355px;
    height: 550px;
    background-color:$color-primary;
    margin: auto;
    display: flex;
    flex-direction: column;

    .photo-box {
        width: 375;
        height: auto;
        background-color:$color-primary;
        display: flex;
        flex-direction: row;
    }
   
    .photo{
        width: 124px;
        height: 120px;
        object-fit: cover;
        
       
        &.photo:hover {
            width: 155px;
            height: 150px;
        }

    }








}