@import "./variables.scss";
@import "./mixing.scss";
@import "./style.scss";

/*###########---Header----##########*/

.header-conteiner {

    display: flex;
    flex-direction: column;
    @include conteiner(358px, 130px);
    background-color: $color-primary;
    margin: auto;

    #icons-phone {
        @include conteiner-box(row, flex);
        align-items: center;
        justify-content: flex-end;
        @include conteiner(350px, 35px);


        #time {
            font-family: sans-serif;
            font-weight: 450;
            text-align: left;
            color: #171717;
            margin-right: auto;
            padding: 5px;
        }

        #phone-sinal {
            width: 5%;
            padding: 3px;
        }

        #wifi-icon {
            width: 5%;
            padding: 3px;

        }

        #battery {
            width: 5%;
            padding: 3px;

        }
    }

    #input {
        @include conteiner-box(row, flex);
        @include conteiner(300px, 28px);
        border-radius: 10px;
        background-color: $color-input;
        padding: 5px 3px 5px 3px;
        gap: 5px;
        align-items: center;
        justify-content: start;
        cursor: pointer;
        margin: 5px;


        #box-input {
            @include conteiner(265px, 25px);
            cursor: pointer;
            border: none;
            background: transparent;
        }

        #icon-search {
            @include conteiner(16px, 16px);
        }

        #icon-shape {
            align-self: center;
            padding: 20px;
        }

    }

    .buttouns {
        @include conteiner-box(row, flex);
        align-items: center;
        gap: 5px;
        @include conteiner(400px, 50px);
        margin: 2px 2px;


        #buttouns {
            @include conteiner(71px, 31px);
            background-color: $collor-buttoun;
            border-radius: 7px;
            cursor: pointer;
        }

        #buttoun-last {
            @include conteiner(50px, 31px);
            background-color: $collor-buttoun;
            border-radius: 7px;
            cursor: pointer;
        }
    }
}

/*###########---Header----##########*/

/*###########---SECTION----###########*/

.galery {
    @include conteiner(355px, auto);
    background-color: $color-primary;
    margin: auto;
    display: flex;
    flex-direction: column;

    .photo-box {
        @include conteiner(355px, auto);
        background-color: $color-primary;
        @include conteiner-box(row, flex);
        border: 1px solid white;

    }

    .photo {
        @include conteiner(118px, 119px);
        object-fit: cover;

        &.photo:hover {
            @include conteiner(155px, 150px);
        }

    }
}

/*###########---SECTION----###########*/
/*###########-----FOOTER----##########*/
footer {
    @include conteiner(350px, 100px);
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    @include conteiner-box(row, flex);



#conteiner-final {
    display: flex;
    flex-direction: column;
    @include conteiner(352px, 90px);
    background-color: #FAFAFA;

    #div-footer {
        @include conteiner(350px, 50px);
        background-color: #FAFAFA;
        @include conteiner-box(row, flex);
        position: sticky;
        left: 0px;
        padding: 10px 3px 10px 0px;
        gap: 58px;
        cursor: pointer;
        justify-content: center;
        align-items: center;
       
        #profile {
            border-radius: 50%;
        }
        
    
        .footer-icon {
            @include conteiner(19px, 21px);

        }

    }
}
}
/*###########-----FOOTER----##########*/
